<template name="viewer">

<div class="ui grid doubling stackable">
    <div class="three wide column">

        <h3 class="ui dividing header">Revisions</h3>
        {{#each revisions}}
          <li><a class="revlink" href="/3dview/{{modelId}}/{{_id}}">{{title}}</a></li>
        {{/each}}
        <form class="revisions-revision-add">
          <input type="text" name="title" placeholder="Title" required>
          <input type="file" name="file" required>
          <input type="submit" name="submit" value="Add new revision">
        </form>

    </div>


    <div class="nine wide column">
      <h3 class="ui dividing header">{{modelName}}</h3>
      <div class="3d-viewer">
      </div>
    </div>


    <div class="four wide column">
      <div class="ui comments">
      <h3 class="ui dividing header">Comments</h3>
      <form class="ui reply form">
        <div class="field">
          <textarea name="text" rows="2" style="height: 60px;"></textarea>
        </div>
        <div class="ui blue labeled submit icon button comment-add">
          <i class="icon edit"></i> Add Reply
        </div>
      </form>

        {{#each comments}}

        <div class="comment">
          <div class="content">
            <a class="author">{{userName userId}}</a>
            <div class="metadata">
              <span class="date">{{createdAt}}</span>
            </div>
            <div class="text">
              {{text}}
            </div>
          </div>
        </div>

        {{/each}}

      </div>
    </div>
</div>

<!--
  <section id="menu">
    <h2>Revisions</h2>
    {{#each revisions}}
      <li><a class="revlink" href="/3dview/{{modelId}}/{{_id}}">{{title}}</a></li>
    {{/each}}
    <form class="revisions-revision-add">
      <input type="text" name="title" placeholder="Title" required>
      <input type="file" name="file" required>
      <input type="submit" name="submit" value="Add new revision">
    </form>
  </section>
  <section id="content">
    <div class="3d-viewer">
    </div>
  </section>
  <section id="comments">
  <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>

    {{#each comments}}

    <div class="comment">
      <div class="content">
        <a class="author">{{userName userId}}</a>
        <div class="metadata">
          <span class="date">{{createdAt}}</span>
        </div>
        <div class="text">
          {{text}}
        </div>
      </div>
    </div>

    {{/each}}

  <form class="ui reply form">
    <div class="field">
      <textarea name="text" rows="2" style="height: 60px;"></textarea>
    </div>
    <div class="ui blue labeled submit icon button comment-add">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
  </section>
-->
</template>
