<template name="App_body">
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        Vivarium
      </a>
      <div class="ui simple dropdown item">
        Actions <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/models">View my models</a>
          <a class="item" href="/collabs">View my collaborations</a>
          <a class="item" href="/add">Add new model</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    <div class="ui right item">
      {{> loginButtons}}
    </div>
    </div>
  </div>
<div style="padding-top:4em;">
  {{> Template.dynamic template=main}}
</div>
</template>
